
.footer-contacto {
	margin-top: 120px;
	background: #a96082;
	padding-top: 30px;
	padding-bottom: 30px;

	img {
		height: 175px;
		width: 125px;
	}
}

.footer-wrap {

	h2 {
		color: white;
		font-size: 3.2em;
	}

	p {
		color: white;
	}
}

.footer-image {
	margin-top: 30px;
	padding-bottom: 30px;
	img {
		max-width: 141px;
		max-height: 74px;
		display: block;
	}
}