.container.footer-contacto
	.row
		.footer-wrap.clearfix
			.col-md-2.col-md-offset-3
				a(href="#")
					img(src="images/foot-image.png", alt="footer photo")
			.col-md-3
				h2 Contacto
				span
					p Tels. 2293-0049 / 2239-2037
				span
					p Mail. info@campolagocr.com
				span
					p Visitenos en: Campo Lago: ubicado del proyecto GOL 500 sur y 500 oeste, frente a estructuras ROS en Santa Ana

.container
	.row
		.col-md-12.footer-image
			a(href="#")
				img.center-block(src="images/foot-logo.png", alt="")
