section.contact
	.container
		.row
			.col-xs-6.col-md-offset-2.col-md-4
				img.img-responsive(src="images/foot-image.png", alt="Contacto")
			.col-xs-6.col-md-4
				h1 Contacto

				p Tels. 2293 0049 / 2239 2037
				p Mail. info@campolago.cr
				p Visitenos en: Campo lago: ubicado del proyecto GOL 500 sur y 500 oeste, frente a estructuras ROS en Santa Ana

section.footer-link
	.container
		.col-md-12
			a.center-block(href="#")
				img.center-block(src="images/foot-logo.png", alt="Logo Foot")

