section.main-header
	.container
		.jumbotron
			h1 El valor de servir con la experiencia

			p Cuentenos su idea o sueño y nosotros podemos acesorarle para conseguirlo. En Campo Lago entendemos las responsibilidades que exige cualquier evento

			p Permitanos quitarle un peso de encima y confie en nostros para trabajar con ustedes o los organizadores  de eventos para que su evento sea todo un exito.

			h2 Por que siempre hay algo que celebrar, Cual evento tienes ahora?