section.main-content
	.container
		.row
			.col-xs-12.col-sm-6.col-md-offset-1.col-md-4
				img.img-responsive(src="images/bigImage-bodas.png", alt="Fondo bodas")
			.col-xs-10.img-txt.col-sm-6.col-md-5
				img(src="images/text-bodas.png", alt="")

				p Su boda es tan importante para usted como lo es para nosotros. Campo Lago se preocupa por todos los detalles para que este día sea tan especial como siempre se lo ha imaginado. Prácticamente todo en Campo Lago puede ser personalizado para acoplarse a cualquier gusto. Así que ahora la boda será más suya que nunca.

		.row
			.col-xs-12.col-sm-6.col-md-offset-1.col-md-4
				img.img-responsive(src="images/bigImage-social.png", alt="Fondo bodas")
			.col-xs-10.img-txt.col-sm-6.col-md-5
				img(src="images/text-social.png", alt="")

				p Su boda es tan importante para usted como lo es para nosotros. Campo Lago se preocupa por todos los detalles para que este día sea tan especial como siempre se lo ha imaginado. Prácticamente todo en Campo Lago puede ser personalizado para acoplarse a cualquier gusto. Así que ahora la boda será más suya que nunca.
		.row
			.col-xs-12.col-sm-6.col-md-offset-1.col-md-4
				img.img-responsive(src="images/bigImage-corporativo.png", alt="Fondo bodas")
			.col-xs-10.img-txt.col-sm-6.col-md-5
				img(src="images/text-coporativo.png", alt="")

				p Su boda es tan importante para usted como lo es para nosotros. Campo Lago se preocupa por todos los detalles para que este día sea tan especial como siempre se lo ha imaginado. Prácticamente todo en Campo Lago puede ser personalizado para acoplarse a cualquier gusto. Así que ahora la boda será más suya que nunca.

		.row
			.col-xs-12.col-sm-8.col-md-offset-1.catering
				h1 Catering

				p Nuestra visión de total y completa libertad para que usted seleccione un menú ajustado a sus necesidades, facilita la toma de decisiones y convierte el proceso de planear su evento en una experiencia memorable desde la fase inicial, hasta su exitosa culminación. Desde comida oriental hasta una selección más tradicional de platillos, nosotros nos adaptamos a sus gustos con total flexibilidad.
			.col-xs-12.col-sm-3.menu
				a(href="#")
					img(src="images/btn-menu.png", alt="Catering")
