.container.show-services
	.row
		.col-sm-4.col-md-4 
			a(href="#")
				img(src="images/bodas.png", alt="bodas")
		.col-sm-4.col-md-4 
			a(href="#")
				img(src="images/social.png", alt="social")
		.col-sm-4.col-md-4 
			a(href="#")
				img(src="images/corporativo.png", alt="corporativo")