section.show-services
	.container
		.row
			.col-xs-4.serv
				a(href="#")
					img.img-responsive(src="images/social.png", alt="Social")
			.col-xs-4.serv
				a(href="#")
					img.img-responsive(src="images/corporativo.png", alt="Social")
			.col-xs-4.serv
				a(href="#")
					img.img-responsive(src="images/bodas.png", alt="Social")